.header, .footer { 
  background-color: aqua;
  height: 80px;
  width: 100%;
  padding: 30px 24px;
}

.header .logo {
  font-size: 20px;
}

.footer .authors {
  font-size: 20px;
  text-align: center;
}

.home {
  height: 100vh;
  padding: 0 24px;
}  