.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px 20px;
  width: 400px;

  p {
    margin: 20px 0;
  }

  label {
    display: block;
    font-weight: 700;
    margin-top: 15px ;
  }

  input,
  select {
    width: 100%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .error {
    font-size: 12px;
    color: red;
    width: 400px;
    margin: 5px 0 10px 0;
    &:before {
      content: '❌ ';
      font-size: 10px;
    }
  }

}
