.pagination {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 30px 0;

    gap: 10px;
  
    &__controlls {
      background-color: transparent;
    }
  
    &__item {
      background-color: transparent;
      cursor: pointer;
    }

    &__link {
      display: block;
      border-radius: 40px;
      width: 40px;
      padding: 8px 10px;
      text-align: center;
      background-color: rgb(215, 215, 215);
      &--active {
        width: 60px;
        color: #fff;
        background-color: var(--primary-color);
      }
    }
  }
