
:root {
    --primary-color: #2A8091;
    --secondary-color: #57C7DE;
    --accent-color: #DE9557;
    --green-success: #76af32;
    --red-alert: #D2553A;
  }


  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


a {
  text-decoration: none;
}