.center-spinner {
    position: absolute;
    height: 64px;
    width: 64px;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;

}
.lds-circle {
    display: inline-block;
    transform: translateZ(1px); 
  }
  .lds-circle > div {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--accent-color);
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  